<section class="container my-4">
    <div class="d-flex gap-3 align-items-center mb-4">
        <h1 class="fw-bold">Articles</h1>
        <%= link_to "Publish New Article", new_article_path, class: "btn btn-outline-success" %>
    </div>

    <% unless @articles.empty? then %>
        <div class="row">
        <% @articles.each do |article| %>
                <%= render partial: "articles/card", locals: {article: article} %>
        <% end%>
        </div>
    <% else %>
        <p>There's no articles here :(</p>
    <% end%>
</section>