<section class="container my-4">
    <div class="mx-auto w-50">
        <div class="d-flex gap-3 align-items-center mb-4">
            <h1>Create new Article</h1>
        </div>
        <%= render "articles/form" %>
    </div>
</section>