<div class="container py-5" data-bs-theme="dark">
    <div class="p-5 mb-4 rounded-3 home-jumbotron">
        <div class="container-fluid py-5 text-center text-light">
            <h1 class="display-5 fw-bold">Home Page</h1>
            <p class="fs-4">
                Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.
            </p>
            <hr class="my-4">
            <%= link_to "Sign up!", home_path, class: "btn btn-success px-3 fs-4" %>
        </div>
    </div>
</div>